body {
  font-family: Roboto;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1242px;
  }
}
.bg-blue {
  background-color: #3298DC;
}

@media (min-width: 992px) {
  .navbar-project {
    min-height: 90px;
  }
}
.navbar-project a {
  color: #fff;
  font-size: 18px;
}
.navbar-project .logo-project {
  width: 175px;
  height: 27px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  padding-left: 70px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
}

.navbar-dark.navbar-project .navbar-nav .nav-link {
  color: white;
}
.navbar-dark.navbar-project .navbar-nav .nav-link:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .navbar .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

.login {
  display: flex;
  align-items: center;
  min-width: 308px;
  justify-content: flex-end;
}
.login a {
  text-decoration: none;
  font-weight: 500;
}
.login a:hover {
  text-decoration: underline;
}

.user-icon {
  width: 42px;
  height: 42px;
  margin-right: 10px;
  background-image: url(../images/icons/enter.svg);
  background-repeat: no-repeat;
  display: inline-flex;
}

.copyright {
  color: #ffffff;
}

.service {
  margin: 63px 0;
}
@media (max-width: 991px) {
  .service {
    font-size: 87%;
  }
}
@media (max-width: 480px) {
  .service {
    flex-direction: column-reverse;
  }
  .service .col-7 {
    width: 100%;
  }
}
.service h1 {
  text-transform: uppercase;
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 1.563rem;
}
@media (max-width: 767px) {
  .service h1 {
    font-size: 180%;
    line-height: 1.3;
  }
}
.service__text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 20px;
  max-width: 500px;
}
.service__img {
  margin-top: 20px;
}
@media (max-width: 480px) {
  .service__img {
    max-width: 180px;
    margin-bottom: 30px;
  }
}
.service__col-img {
  width: auto;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.how-it-works {
  background-color: #F8F8F8;
  padding-top: 96px;
  padding-bottom: 102px;
}
.how-it-works h2 {
  margin-bottom: 46px;
}
@media (max-width: 767px) {
  .how-it-works .row {
    flex-direction: column;
  }
}
.how-it-works__item {
  position: relative;
}
.how-it-works__item:before {
  content: attr(data-slide);
  position: absolute;
  top: 0px;
  left: 22px;
  background-color: #ADDAF9;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
}
.how-it-works__item img {
  display: flex;
  margin: 64px auto 34px auto;
}
.how-it-works__text {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.about-us {
  padding-top: 107px;
  padding-bottom: 106px;
}
@media (max-width: 767px) {
  .about-us {
    flex-direction: column;
  }
}
.about-us__item img {
  display: flex;
  margin: 67px auto 36px auto;
}
.about-us__text {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
